body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.retang {
    width: 600px;
    height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

.linda {
    align-content: center;
}

.linda label{
    padding: 15px;
}

.linda input{
    border-radius: 20px;
}